<%- include("header") %>

<div class="title-img">
  <img src="/images/logo.jpg" alt="" width="200px" />
</div>

<div class="post-story">
  <p style="text-align: center">
    <img class="post-img"
      src="https://tse1-mm.cn.bing.net/th/id/R-C.80f0d6d3b2140698e6d7c458f2767fde?rik=TgZT7FRtVMCgQQ&riu=http%3a%2f%2fpic.22520.cn%2fup%2f200710%2f1594389917147857.jpeg&ehk=UOwbFmc8Gc0SOnBQDSfe38%2bmfnISjbY0I3W%2b%2bKOmC0I%3d&risl=&pid=ImgRaw&r=0&sres=1&sresct=1"
      alt="" />
  </p>

  <div class="post-body">
    <h4 class="post-uname" style="text-align: center"><%= comments.userName %></h4>
    <p class="post-ucomment"><%= comments.userComment %></p>
  </div>

  <div class="post-like">
    <div class="like-botton" data-key="<%= comments.id %>" style="margin-left: 24px"></div>
    <p style="margin: 10px 0; text-align: right" id="like-total"></p>
  </div>
</div>

<script>
  var blogId = location.pathname.replace('/posts/', '');

  function getLikeToal() {
    fetch('/likes-by-blog')
      .then((response) => response.json())
      .then((list) => {
        var dom = document.querySelector('#like-total');
        var match = list.find((i) => i.blogId === blogId);
        if (match) {
          dom.innerHTML = `(点赞总数：${match.total})`;
        } else {
          dom.innerHTML = `(点赞总数：0)`;
        }
      });
  }
  getLikeToal();

  var uuid = localStorage.getItem('uuid');
  var btns = document.querySelectorAll('.like-botton');
  // 获取我点赞的文章
  fetch(`/likes?userId=${uuid}`, {
      method: 'GET'
    })
    .then((response) => response.json())
    .then((results) => {
      btns.forEach((btn) => {
        var isLiked = results.find((i) => i.blogId === btn.dataset.key);
        if (isLiked) {
          btn.classList.add('liked');
        } else {
          btn.classList.remove('liked');
        }
      });
    });

  // 点赞/取消点赞
  btns.forEach((btn) => {
    btn.addEventListener('click', function(e) {
      var dataset = e.target.dataset;
      if (dataset.key) {
        var isLiked = btn.className.includes('liked');
        fetch(isLiked ? '/remove-like' : '/add-like', {
          method: 'POST',
          headers: {
            Accept: 'application/json',
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({
            blogId: dataset.key,
            userId: uuid
          }),
        }).then(() => {
          if (isLiked) {
            btn.classList.remove('liked');
          } else {
            btn.classList.add('liked');
          }
          getLikeToal();
        });
      }
      e.preventDefault();
    });
  });
</script>



<%- include("footer") %>
